<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <title>kanekoです</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
  <link rel="stylesheet" href="/assets/css/app.css" />
</head>
<body>
  <div id="app" class="container">
    <div class="row">
      <h5>自己紹介</h5>
    </div>
    <div class="row">
      <!-- 1-1. ユーザー名を表示しよう -->
      金子航太です！趣味はカラオケ，車（ドライブ，パーツ取り付け），アニメ鑑賞，相撲鑑賞などなど！
        </div>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/whatwg-fetch"></script>
  <script src="/assets/js/app.js"></script>
</body>
</html>
